<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/admin/head') -%>

<body>
  <div class="container-scroller">
    <%- include('../../partials/admin/header') -%>
    <div class="main-panel">
      <div class="content-wrapper my-custom-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between flex-wrap">
                <h4 class="card-title">Coupons</h4>
                <div class="d-flex justify-content-between">
                  <select name="status" class="mr-3" id="search-input">
                    <option>Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                  <a href="/admin/new-coupon" class="btn btn-primary">New Coupon</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Code
                      </th>
                      <th>
                        Discount Type
                      </th>
                      <th>
                        Expiration Date
                      </th>
                      <th>
                        Min. Purhcase Amount
                      </th>
                      <th>
                        Usage Limit/<br>
                        Used Count
                      </th>
                      <th>
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody id="search-results">
                    <% if (!foundCoupons.length) { %>
                    <tr>
                      <td colspan="7">
                        No coupons found.
                      </td>
                    </tr>
                    <% } else { %>
                    <% foundCoupons.forEach((coupon) => { %>
                    <tr>
                      <td class="py-1">
                        <%= coupon.code %><br>
                      </td>
                      <td>
                        <% if (coupon.discountType === 'percentage') { %>
                        Percentage (<%= coupon.discountAmount %>%)
                        <% } else { %>
                        Fixed Amount (<%= coupon.discountAmount %>/-)
                        <% } %>
                      </td>
                      <td>
                        <%= coupon.expirationDate.toLocaleDateString() %>
                      </td>
                      <td>
                        <%= coupon.minimumPurchaseAmount %>
                      </td>
                      <td>
                        <%= coupon.usageLimit %> /
                        <%= coupon.usedCount %>
                      </td>
                      <td>
                        <form action="/admin/coupons/action/<%= coupon._id %>?_method=PATCH" method="post">
                          <input type="hidden" name="coupon" value="<%= coupon._id %>">
                          <% if (coupon.isActive) { %>
                          <input type="hidden" name="state" value="1">
                          <button type="submit" class="btn btn-danger btn-sm">
                            Deactivate
                          </button>
                          <% } else { %>
                          <input type="hidden" name="state" value="">
                          <button type="submit" class="btn btn-warning btn-sm">
                            Activate
                          </button>
                          <% } %>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <% if (foundCoupons.length) { %>
        <div class="container">
          <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/coupons/<%= currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% } %>
                <% for (let i=1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                <li class="page-item">
                  <a class="page-link bg-primary text-light" href="/admin/coupons/<%= i %>"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/coupons/<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/coupons/<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <% } %>

      </div>

      <script>
        // JavaScript code for handling the AJAX request when input changes
        $(document).ready(function() {
          // Listen for changes in the search input
          $('#search-input').on('input', function() {
            // Get the search query from the input field
            const searchQuery = $(this).val();

            // Send an AJAX request to your server
            $.ajax({
              type: 'POST', // Use GET or POST as needed
              url: '/admin/coupons/1?search=true',
              data: {
                searchQuery
              }, // Send the search query to the server
              success: function(response) {
                // Handle the response from the server
                const couponDatas = response.couponDatas; // Assuming this is an array

                // Get a reference to the search-results container
                const searchResultsContainer = $('#search-results');

                // Clear the existing content (if any)
                searchResultsContainer.empty();

                if (couponDatas.length === 0) {
                  // If no coupon found, display a message in a single cell of the row
                  const row = $('<tr>');
                  const messageCell = $('<td>', {
                    colspan: 7, // Span across all columns
                    text: 'No coupons found.'
                  });

                  row.append(messageCell);
                  searchResultsContainer.append(row);
                } else {
                  // Loop through the couponDatas array and create rows for each coupon
                  couponDatas.forEach(coupon => {
                    const row = $('<tr>');
                    row.append($('<td>').text(coupon.code));
                    const symbol = coupon.discountType === 'percentage' ? "%)" : "/-)";
                    row.append($('<td>').text(coupon.discountType + " (" + coupon.discountAmount + symbol));
                    // const date = coupon.expirationDate.toLocaleDateString();
                    row.append($('<td>').text(coupon.expirationDate));
                    row.append($('<td>').text(coupon.minimumPurchaseAmount));
                    row.append($('<td>').text(coupon.usageLimit + " / " + coupon.usedCount));
                    // Create the last <td> with the form
                    let elementsToAppend = [];

                    const actionForm = $('<form>', {
                      action: `/admin/coupons/action/${coupon._id}?_method=PATCH`,
                      method: 'post',
                      id: 'action-form'
                    });

                    if (!coupon.isActive) {
                      actionForm.append($('<input>', {
                        type: 'hidden',
                        name: 'state',
                        value: ''
                      }));
                      actionForm.append($('<button>', {
                        type: 'submit',
                        class: 'btn btn-warning btn-sm block-button',
                        text: 'Activate'
                      }))
                    } else {
                      actionForm.append($('<input>', {
                        type: 'hidden',
                        name: 'state',
                        value: '1'
                      }));
                      actionForm.append($('<button>', {
                        type: 'submit',
                        class: 'btn btn-danger btn-sm block-button',
                        text: 'Deactivate'
                      }));
                    }

                    elementsToAppend.push(actionForm);

                    row.append($('<td>').html(elementsToAppend));
                    // Append the row to the table
                    searchResultsContainer.append(row);
                  });
                }
              },
              error: function(error) {
                console.error('Error:', error);
              }
            });
          });
        });
      </script>

      <%- include('../../partials/admin/footer') -%>