<!DOCTYPE html>
<html lang="en">

<%- include('../partials/admin/head') -%>

<body>
  <div class="container-scroller">
    <%- include('../partials/admin/header') -%>
    <div class="main-panel">
      <div class="content-wrapper my-custom-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="customer-title-section d-flex justify-content-between flex-wrap">
                <h4 class="card-title flex-grow-1 col-md-8">Customers</h4>
                <form class="form-inline flex-grow-1 col-md-4">
                  <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" id="search-input">
                </form>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        User
                      </th>
                      <th>
                        Username
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Phone
                      </th>
                      <th>
                        Verified
                      </th>
                      <th>
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody id="search-results">
                    <% if (!customerDatas.length) { %>
                    <tr>
                      <td colspan="6">No customers found.</td>
                    </tr>
                    <% } else { %>
                    <% customerDatas.forEach((customer)=> { %>
                    <tr>
                      <td class="py-1">
                        <% if (customer.profile.includes('undefined') || customer.profile==='' ) { %>
                        <i class="bi bi-person-circle" style="font-size: 24px;"></i>
                        <% } else { %>
                        <img src="<%= customer.profile %>" alt="profile" onclick="openModal('<%= customer.profile %>')" />
                        <% } %>
                      </td>
                      <!-- for display and zoom image -->
                      <div id="imageModal" class="modal">
                        <button id="closeButton" class="close-button">
                          <i class="bi bi-x-lg"></i>
                        </button>
                        <div class="image-zoom mt-5">
                          <img src="" id="modalImage" alt="Image">
                        </div>
                      </div>
                      <td>
                        <%= customer.username %>
                      </td>
                      <td>
                        <%= customer.email %>
                      </td>
                      <td>
                        <%= customer.phone %>
                      </td>
                      <td>
                        <%= customer.verified %>
                      </td>
                      <td>
                        <form action="/admin/customers/action/<%= customer._id %>?_method=PATCH" method="post" id="action-form">
                          <% if(customer.blocked===true) { %>
                          <input type="hidden" name="state" value="">
                          <button type="submit" class="btn btn-warning btn-sm block-button">
                            Unblock
                          </button>
                          <% } else { %>
                          <input type="hidden" name="state" value="1">
                          <button type="submit" class="btn btn-danger btn-sm block-button">
                            Block
                          </button>
                          <% } %>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <% if (customerDatas.length) { %>
        <div class="container">
          <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/customers/<%= currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% } %>
                <% for (let i=1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                <li class="page-item">
                  <a class="page-link bg-primary text-light" href="/admin/customers/<%= i %>"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/customers/<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/customers/<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <% } %>

      </div>

      <script>
        $(document).ready(function() {
          $('#search-input').on('input', function() {
            const searchQuery = $(this).val();

            $.ajax({
              type: 'POST',
              url: '/admin/customers/1?search=true',
              data: {
                searchQuery
              },
              success: function(response) {
                const customerDatas = response.customerDatas;

                const searchResultsContainer = $('#search-results');

                searchResultsContainer.empty();

                if (customerDatas.length === 0) {
                  const row = $('<tr>');
                  const messageCell = $('<td>', {
                    colspan: 6,
                    text: 'No customers found.'
                  });

                  row.append(messageCell);
                  searchResultsContainer.append(row);
                } else {
                  customerDatas.forEach(customer => {
                    const row = $('<tr>');
                    if (customer.profile) {
                      row.append($('<td>').html(`<img src="${customer.profile}" alt="Profile Image" onclick="openModal('${customer.profile}')" />`));
                    } else {
                      row.append($('<td>').html('<i class="bi bi-person-circle" style="font-size: 24px;"></i>'));
                    }
                    row.append($('<td>').text(customer.username));
                    row.append($('<td>').text(customer.email));
                    row.append($('<td>').text(customer.phone));
                    row.append($('<td>').text(customer.verified));
                    // Create the last <td> with the form
                    const actionForm = $('<form>', {
                      action: `/admin/customers/action/${customer._id}?_method=PATCH`,
                      method: 'post',
                      id: 'action-form'
                    });

                    if (customer.blocked === true) {
                      actionForm.append($('<input>', {
                        type: 'hidden',
                        name: 'state',
                        value: ''
                      }));
                      actionForm.append($('<button>', {
                        type: 'submit',
                        class: 'btn btn-warning btn-sm block-button',
                        text: 'Unblock'
                      }))
                    } else {
                      actionForm.append($('<input>', {
                        type: 'hidden',
                        name: 'state',
                        value: '1'
                      }));
                      actionForm.append($('<button>', {
                        type: 'submit',
                        class: 'btn btn-danger btn-sm block-button',
                        text: 'Block'
                      }));
                    }

                    row.append($('<td>').html(actionForm));

                    // Append the row to the table
                    searchResultsContainer.append(row);
                  });
                }
              },
              error: function(error) {
                console.error('Error:', error);
              }
            });
          });
        });
      </script>

      <%- include('../partials/admin/footer') -%>