<!DOCTYPE html>
<html lang="en">

<%- include('../partials/admin/head') -%>

<body>
  <div class="container-scroller">
    <%- include('../partials/admin/header') -%>
    <div class="main-panel">
      <div class="content-wrapper my-custom-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Orders</h4>
              <div class="d-flex justify-content-between">
                <form action="/admin/orders/1?filtered=true" method="post">
                  <select name="status" class="mr-3">
                    <option>Select Status</option>
                    <option value="Processing">Processing</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Pending">Pending</option>
                  </select>
                  <input class="m-1" type="date" name="from">
                  <input class="m-1" type="date" name="upto">
                  <button class="btn btn-outline-primary btn-sm m-1" type="submit">Apply</button>
                </form>
                <a href="/admin/return-requests/1" class="link-offset-2 link-underline link-underline-opacity-100">
                  View Return Requests
                </a>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Order Date
                      </th>
                      <th>
                        Delivery Address
                      </th>
                      <th>
                        Order Details
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        options
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (!orders.length) { %>
                    <tr>
                      <td colspan="5">No orders found.</td>
                    </tr>
                    <% } else { %>
                    <% orders.forEach((order) => { %>
                    <tr>
                      <td>
                        Order Confirmed, <%= order.orderDate.toLocaleDateString() %><br>
                        Delivery, <%= order.deliveryDate.toLocaleDateString() %>
                      </td>
                      <td>
                        <%= order.deliveryAddress.state %>,
                        <%= order.deliveryAddress.city %><br>
                        <%= order.deliveryAddress.area %>,
                        Pincode: <%= order.deliveryAddress.pincode %><br>
                        House No.: <%= order.deliveryAddress.building %>
                      </td>
                      <td>
                        <div>
                          <% order.products.forEach((product) => { %>
                          <div class="border-bottom mb-3">
                            <span class="text-primary h6 text-uppercase">
                              <%= product.product.name %>
                            </span><br>
                            Price: ₹<%= product.product.price %>,
                            Quantity: <%= product.quantity %>
                          </div>
                          <% }) %>
                          <span>
                            <strong>
                              Total Amount: ₹<%= order.totalAmount.toFixed(2) %><br>
                              Payment Method: <%= order.paymentMethod %>
                            </strong>
                          </span>
                      </td>
                      <td>
                        <% order.products.forEach((product) => { %>
                        <% if(product.isCancelled) { %>
                        <p class="text-danger font-weight-bolder">Order Cancelled</p>
                        <% } else if(product.returnRequested === 'Pending') { %>
                        <p class="text-info font-weight-bolder">Return requested</p>
                        <% } else if(product.returnRequested === 'Approved') { %>
                        <p class="text-success font-weight-bolder">Return Approved</p>
                        <% } else if(product.returnRequested === 'Rejected') { %>
                        <p class="text-warning font-weight-bolder">Return Rejected</p>
                        <% } else if(product.returnRequested === 'Completed') { %>
                        <p class="text-dark font-weight-bolder">Return Completed</p>
                        <% } else { %>
                        <p class="text-primary font-weight-bolder"><%= order.status %></p>
                        <% } %>
                        <% }) %>
                      </td>
                      <td>
                        <a href="/admin/single-order/<%= order._id %>" class="btn btn-sm btn-info">View</a>
                      </td>
                    </tr>
                    <% }) %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <% if (orders.length) { %>
        <div class="container">
          <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/orders/<%= currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% } %>
                <% for (let i=1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                <li class="page-item">
                  <a class="page-link bg-primary text-light" href="/admin/orders/<%= i %>"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/orders/<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/orders/<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <% } %>

      </div>
      <%- include('../partials/admin/footer') -%>