<!DOCTYPE html>
<html lang="en">

<%- include('../partials/admin/head') -%>

    <body>
        <div class="container-scroller">
            <%- include('../partials/admin/header') -%>
                <div class="main-panel">
                    <div class="content-wrapper my-custom-wrapper">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Orders</h4>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        User
                                                    </th>
                                                    <th>
                                                        Details
                                                    </th>
                                                    <th>
                                                        Order Date
                                                    </th>
                                                    <th>
                                                        Delivery Address
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (!orders.length) { %>
                                                    <tr>
                                                        <td colspan="5">No orders found.</td>
                                                    </tr>
                                                <% } else { %>
                                                    <% orders.forEach((order) => { %>
                                                        <tr>
                                                            <td>
                                                               <%= order.user.username %><br>
                                                               <p class="text-dark"><%= order.user.email %></p><br>
                                                               <%= order.user.phone %>
                                                            </td>
                                                            <td>
                                                                <% order.products.forEach((product) => { %>
                                                                    Product: <%= product.product.name %> <br>
                                                                    Price: <%= product.product.price %> <br>
                                                                    Quantity: <%= product.quantity %> <br>
                                                                <% }) %>
                                                            </td>
                                                            <td>
                                                                <%= order.orderDate.toLocaleDateString() %>
                                                            </td>
                                                            <td>
                                                                <%= order.deliveryAddress.state %>,
                                                                <%= order.deliveryAddress.city %><br>
                                                                <%= order.deliveryAddress.area %>,
                                                                Pincode: <%= order.deliveryAddress.pincode %><br>
                                                                House No.: <%= order.deliveryAddress.building %>
                                                            </td>
                                                            <td>
                                                                <% order.products.forEach((product) => { %>
                                                                    <% if(product.isCancelled) { %>
                                                                        <p class="text-danger">Cancelled</p>
                                                                    <% } else { %>
                                                                        <%= order.status %>
                                                                    <% } %>
                                                                <% }) %>
                                                            </td>
                                                        </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('../partials/admin/footer') -%>