<!DOCTYPE html>
<html lang="en">

<%- include('../partials/admin/head') -%>

<body>
  <div class="container-scroller">
    <%- include('../partials/admin/header') -%>
    <div class="main-panel bg-secondary">
      <div class="content-wrapper my-custom-wrapper">
        <div class="d-flex flex-column col-lg-12 grid-margin stretch-card">
          <div class="card mb-3">
            <div class="card-body">
              <div class="custom-card-body">
                <div class="col-12 col-md-4 mb-3">
                  <h4 class="card-title">Customer Details</h4>

                  <div class="custom-user-card card border" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title text-sm">
                        <!-- <% if (foundOrder.user.profile) { %> -->
                          <img src="<%= foundOrder.user.profile %>" class="img-fluid" width="70px" height="70px" style="border-radius: 10px;">
                        <!-- <% } %> -->
                        <%= foundOrder.user.username %>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted text-sm">
                        <%= foundOrder.user.email %>
                        <%= foundOrder.user.phone %>
                      </h6>
                      <div class="d-md-flex">
                        <a href="/admin/customers" class="card-link mr-2">Go to Customers</a>
                        <form action="/admin/customers/action/<%= foundOrder.user._id %>?_method=PATCH&orderId=<%= foundOrder._id %>" method="post" id="action-form">
                          <% if(foundOrder.user.blocked===true) { %>
                          <input type="hidden" name="state" value="">
                          <button type="submit" class="btn btn-warning btn-sm block-button">
                            Unblock
                          </button>
                          <% } else { %>
                          <input type="hidden" name="state" value="1">
                          <button type="submit" class="btn btn-danger btn-sm block-button">
                            Block
                          </button>
                          <% } %>
                        </form>
                      </div>
                    </div>  
                  </div>

                </div>
                <div class="col-12 col-md-8 mb-3 w-100">
                  <h5 class="card-title">Delivery To:</h5>
                  <div class="d-flex flex-column">
                    <div class="card border">
                      <div class="custom-deliver-card">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= foundOrder.deliveryAddress.state %>
                          </h5>
                          <h6 class="card-subtitle mb-2 text-muted">
                            <%= foundOrder.deliveryAddress.city %>
                            <%= foundOrder.deliveryAddress.area %>,<br>
                            Pincode: <%= foundOrder.deliveryAddress.pincode %>
                            House No: <%= foundOrder.deliveryAddress.building %>
                          </h6>
                        </div>
                        <div class="card-body">
                          <strong class="mb-2">
                            Order Confirmed, <%= foundOrder.orderDate.toLocaleDateString() %><br>
                            Delivery, <%= foundOrder.deliveryDate.toLocaleDateString() %>
                          </strong>
                          <% if (foundOrder.status === 'Cancelled') { %>
                          <p class="card-subtitle mb-2 text-danger">
                            Order <span id="status-display-cancelled"><%= foundOrder.status %></span>
                          </p>
                          <% } else { %>
                          <p class="card-subtitle mb-2 text-primary">
                            Order <span id="status-display-not-cancelled"><%= foundOrder.status %></span>
                          </p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 d-flex flex-column justify-content-end">
                      <select id="orderStatusSelect" class="form-select" aria-label="Default select example">
                        <option selected>Update Order Status</option>
                        <option value="Processing">Processing</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Pending">Pending</option>
                      </select>
                      <p id="status-error" class="text-danger"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% foundOrder.products.forEach((product) => { %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="custom-products-card col-lg-12">
                <div class="col-lg-3">
                  <img src="<%= product.product.images[0] %>" width="100px" height="100px" style="border-radius: 10px;">
                </div>
                <div class="col-lg-6">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="text-primary">
                        <%= product.product.name %>
                      </p>
                      <p>
                        Price: ₹<%= product.product.price %>
                      </p>
                    </div>
                    <div>
                      <a href="/admin/products" class="btn btn-info btn-sm">View</a>
                    </div>
                  </div>
                  <div class="border-top mt-2">
                    <p>Quanity: <%= product.quantity %></p>
                    <p>Payment Method: <%= foundOrder.paymentMethod %></p>
                    <strong>
                      Total Price: ₹<%= (product.product.price * product.quantity).toFixed(2) %>
                    </strong>
                  </div>
                </div>
                <div class="col-lg-3 d-flex flex-column justify-content-end">
                  <div class="d-flex justify-content-center">
                    <% if(product.isCancelled) { %>
                    <p class="text-danger font-weight-bolder">Order Cancelled</p>
                    <% } else if(product.returnRequested === 'Pending') { %>
                    <p class="text-info font-weight-bolder">Return requested</p>
                    <% } else if(product.returnRequested === 'Approved') { %>
                    <p class="text-success font-weight-bolder">Return Approved</p>
                    <% } else if(product.returnRequested === 'Rejected') { %>
                    <p class="text-warning font-weight-bolder">Return Rejected</p>
                    <% } else if(product.returnRequested === 'Completed') { %>
                    <p class="text-dark font-weight-bolder">Return Completed</p>
                    <% } else { %>
                    <p class="text-primary font-weight-bolder"><%= foundOrder.status %></p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>

        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('orderStatusSelect').addEventListener('change', function() {
      var selectedStatus = this.value;

      $.ajax({
        type: 'POST',
        url: '/admin/update-order-status',
        data: {
          status: selectedStatus,
          userId: '<%= foundOrder.user._id %>',
          orderId: '<%= foundOrder._id %>',
        },
        success: function(response) {
          document.getElementById("status-display-not-cancelled").textContent = selectedStatus;
        },
        error: function(error) {
          document.getElementById("status-error").textContent = error.responseJSON.message;
        }
      });
    });
  </script>

  <%- include('../partials/admin/footer') -%>