<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/admin/head') -%>

<body>
  <div class="container-scroller">
    <%- include('../../partials/admin/header') -%>
    <div class="main-panel">
      <div class="content-wrapper my-custom-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between flex-wrap">
                <h4 class="card-title">Products</h4>
                <div class="d-flex justify-content-between">
                  <form class="form-inline flex-grow-1">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" id="search-input">
                  </form>
                  <a href="/admin/products/new" class="btn btn-primary">New Product</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Product
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Price
                      </th>
                      <th>
                        Size & Color
                      </th>
                      <th>
                        Offers
                      </th>
                      <th>
                        Offer Validity
                      </th>
                      <th>
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody id="search-results">
                    <% if (!productDatas.length) { %>
                    <tr>
                      <td colspan="8">No products found.</td>
                    </tr>
                    <% } else { %>
                    <% productDatas.forEach((product)=> { %>
                    <tr>
                      <td>
                        <% product.images.forEach(img=> { %>
                        <div class="row">
                          <div class="col-4">
                            <img src="<%= img %>" alt="" onclick="openModal('<%= img %>')">
                          </div>
                        </div>
                        <% }) %>
                      </td>
                      <!-- for display and zoom image -->
                      <div id="imageModal" class="modal">
                        <button id="closeButton" class="close-button">
                          <i class="bi bi-x-lg"></i>
                        </button>
                        <div class="image-zoom">
                          <img src="" id="modalImage" alt="Image">
                        </div>
                      </div>
                      <td>
                        <%= product.name %><br>
                        <%= product.category.name %>
                      </td>
                      <td>
                        ₹<%= product.actualPrice %>.00<br>
                        Stock: <%= product.stock %>
                      </td>
                      <td>
                        <%= product.size %><br>
                        <%= product.color %>
                      </td>
                      <td>
                        Product: <%= product.offerPercentage ?? 0 %>%<br>
                        Category: <%= product.category.offerPercentage ?? 0 %>%
                      </td>
                      <td>
                        <%= product.offerValidUpto ? product.offerValidUpto?.toLocaleDateString() : 'No offer' %>
                      </td>
                      <td>
                        <div class="d-flex">
                          <a href="/admin/products/<%= product._id %>/edit" class="btn btn-info btn-sm mr-1">
                            <i class="bi bi-pen"></i>
                          </a>
                          <form action="/admin/products/<%= product._id %>/action?_method=PATCH" method="post" id="action-form">
                            <input type="hidden" name="category" value="<%= product.category.name %>">
                            <% if (product.softDeleted) { %>
                            <input type="hidden" name="state" value="">
                            <button type="submit" class="btn btn-warning btn-sm action-btn">
                              Activate
                            </button>
                            <% } else { %>
                            <input type="hidden" name="state" value="1">
                            <button type="submit" class="btn btn-danger btn-sm action-btn">
                              Deactivate
                            </button>
                            <% } %>
                          </form>
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                    <% } %>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <% if (productDatas && productDatas.length) { %>
        <div class="container">
          <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/products/<%= currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% } %>
                <% for (let i=1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                <li class="page-item">
                  <a class="page-link bg-primary text-light" href="/admin/products/<%= i %>"><%= i %></a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/products/<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/products/<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <% } %>

      </div>

      <script>
        $(document).ready(function() {
          $('#search-input').on('input', function() {
            const searchQuery = $(this).val();

            $.ajax({
              type: 'POST',
              url: '/admin/products/1?search=true',
              data: {
                searchQuery
              },
              success: function(response) {
                const productDatas = response.productDatas;

                const searchResultsContainer = $('#search-results');

                searchResultsContainer.empty();

                if (productDatas.length === 0) {
                  const row = $('<tr>');
                  const messageCell = $('<td>', {
                    colspan: 8,
                    text: 'No products found.'
                  });

                  row.append(messageCell);
                  searchResultsContainer.append(row);
                } else {
                  productDatas.forEach(product => {
                    const row = $('<tr>');
                    const imageTd = $('<td>');
                    // Loop through each image in the product.images array
                    product.images.forEach(image => {
                      const imgElement = $(`<img src="${image}" alt="Product Image" onclick="openModal('${image}')" />`);
                      imageTd.append(imgElement); // Append each image to the <td>
                    });
                    // Append the <td> with images to the row
                    row.append(imageTd);
                    row.append($('<td>').html(product.name + "<br>" + product.category.name));
                    row.append($('<td>').html("₹" + product.actualPrice + "<br>" + "Stock: " + product.stock));
                    row.append($('<td>').html(product.size + "<br>" + product.color));
                    row.append($('<td>').html(
                      "Product: " + (product.offerPercentage ?? 0) + "%" +
                      "<br> Category: " + (product.category.offerPercentage ?? 0) + "%"
                    ));
                    row.append($('<td>').text(product.offerValidUpto ? new Date(product.offerValidUpto).toLocaleDateString() : 'No offer'));

                    // Create the last <td> with the form
                    let elementsToAppend = [];

                    const editButton = $('<a>', {
                      href: `/admin/products/${product._id}/edit`,
                      class: "btn btn-info btn-sm mb-1",
                    }).append($('<i>', {
                      class: "bi bi-pen"
                    }));

                    elementsToAppend.push(editButton);

                    const actionForm = $('<form>', {
                      action: `/admin/products/${product._id}/action?_method=PATCH`,
                      method: 'post',
                      id: 'action-form'
                    });

                    if (product.softDeleted === true) {
                      actionForm.append($('<input>', {
                        type: 'hidden',
                        name: 'state',
                        value: ''
                      }));
                      actionForm.append($('<button>', {
                        type: 'submit',
                        class: 'btn btn-warning btn-sm block-button',
                        text: 'Activate'
                      }))
                    } else {
                      actionForm.append($('<input>', {
                        type: 'hidden',
                        name: 'state',
                        value: '1'
                      }));
                      actionForm.append($('<button>', {
                        type: 'submit',
                        class: 'btn btn-danger btn-sm block-button',
                        text: 'Deactivate'
                      }));
                    }

                    elementsToAppend.push(actionForm);

                    row.append($('<td>').html(elementsToAppend));
                    // Append the row to the table
                    searchResultsContainer.append(row);
                  });
                }
              },
              error: function(error) {
                console.error('Error:', error);
              }
            });
          });
        });
      </script>

      <%- include('../../partials/admin/footer') -%>