<!DOCTYPE html>
<html lang="en">

<style>
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* Modal Content (image) */
    .modal img {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        max-height: 80%;
    }

    /* Zoomed Image */
    .image-zoom {
        overflow: hidden;
    }

    .image-zoom img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        transition: transform 0.2s;
    }

    /* Zoom on Hover */
    .image-zoom:hover img {
        transform: scale(1.2);
        /* Adjust the scale factor as needed */
        cursor: zoom-out;
    }
</style>

<%- include('../../partials/admin/head') -%>

    <body>
        <div class="container-scroller">
            <%- include('../../partials/admin/header') -%>
                <div class="main-panel">
                    <div class="content-wrapper my-custom-wrapper">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="card-title">Categories</h4>
                                        <a href="/admin/new-category" class="btn btn-primary">New Category</a>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Category
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (!categoryDatas.length) { %>
                                                    <tr>
                                                        <td colspan="3">No categories found.</td>
                                                    </tr>
                                                    <% } else { %>
                                                        <% categoryDatas.forEach((category)=> { %>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <img src="<%= category.image %>"
                                                                        alt="<%= category.name %>" class="img-click"
                                                                        onclick="openModal('<%= category.image %>')" />
                                                                </td>
                                                                <!-- for display and zoom image -->
                                                                <div id="imageModal" class="modal">
                                                                    <div class="image-zoom">
                                                                        <img src="" id="modalImage" alt="Image">
                                                                    </div>
                                                                </div>
                                                                <td>
                                                                    <%= category.name %>
                                                                </td>
                                                                <td class="d-flex">
                                                                    <a href="/admin/edit-category/<%= category._id %>"
                                                                        class="btn btn-info btn-sm mr-1">
                                                                        Edit
                                                                    </a>
                                                                    <form
                                                                        action="/admin/categories/action/<%= category._id %>?_method=PATCH"
                                                                        method="post">
                                                                        <% if(category.removed===true) { %>
                                                                            <input type="hidden" name="state" value="">
                                                                            <button type="submit"
                                                                                class="btn btn-warning btn-sm">
                                                                                Activate
                                                                            </button>
                                                                            <% } else { %>
                                                                                <input type="hidden" name="state"
                                                                                    value="1">
                                                                                <button type="submit"
                                                                                    class="btn btn-danger btn-sm">
                                                                                    Deactivate
                                                                                </button>
                                                                            <% } %>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        // Function to open the modal
                        function openModal(imageSrc) {
                            var modal = document.getElementById("imageModal");
                            var modalImg = document.getElementById("modalImage");
                            modal.style.display = "block";
                            modalImg.src = imageSrc;
                        }
                        var modal = document.getElementById("imageModal");
                        modal.onclick = function () {
                            var modal = document.getElementById("imageModal");
                            modal.style.display = "none";
                        };
                    </script>
                    <%- include('../../partials/admin/footer') -%>