<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/customer/head') -%>

<body>

  <div class="site-wrap">
    <%- include('../../partials/customer/header') -%>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Select Delivery Address</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="text-center col-md-12">
            <h2 class="h3 mb-3 text-black">Select Your Delivery Address</h2>
          </div>
          <div>
            <% if (addresses.length === 0) { %>
            <p class="text-center">No Address found.</p>
            <a href="/profile" class="btn btn-outline-primary btn-lg btn-block">
              Go To Profile
            </a>
            <% } else { %>
            <% addresses.forEach((address) => { %>
            <form id="<%= address._id %>" action="/profile/addresses/change?_method=PATCH" method="post">
              <div class="p-4 border mb-3 <%= address.default ? 'bg-primary' : 'bg-light' %>" onclick="changeAddress('<%= address._id %>')">
                <input type="hidden" name="addressId" value="<%= address._id %>">
                <span class="d-block text-primary h6 text-uppercase <%= address.default ? 'text-light' : '' %>"><%= address.state %></span>
                <p class="<%= address.default ? 'text-light' : '' %>"><%= address.state %>, <%= address.city %>
                  <%= address.area %>, <%= address.building %>,
                  <%= address.pincode %>
                </p>
              </div>
            </form>
            <% }) %>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <script>
      function changeAddress(formId) {
        const form = document.getElementById(formId);
        form.submit();
      }
    </script>

    <%- include('../../partials/customer/footer') -%>