<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

    <body>

        <div class="site-wrap">
            <%- include('../partials/customer/header') -%>
                <div class="bg-light py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                                    class="text-black">Cart</strong></div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="site-section">
                        <% if (!cartProducts.length) { %>
                            Your cart is empty.
                            <% } else { %>
                                <div class="row">
                                    <form class="col-md-12" action="" method="">
                                        <div class="site-blocks-table">
                                            <div class="container">
                                                <% cartProducts.forEach((cartItem)=> { %>
                                                    <div class="col-lg-12 p-4 border mb-3 d-flex">
                                                        <div class="col-md-4">
                                                            <a href="">
                                                                <img src="<%= cartItem.product.images[0] %>" alt="Image"
                                                                    height="180px" width="180px" class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span class="d-block text-primary h6 text-uppercase">
                                                                <%= cartItem.product.name %>
                                                            </span>
                                                            <p>
                                                                <%= cartItem.product.description %><br>
                                                                    Category: <%= cartItem.product.category.name %><br>
                                                                        <strong class="text-black">$<%=
                                                                                cartItem.product.price %>.00</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span class="text-black">
                                                                Total Price: $<span id="totalPrice_<%= cartItem._id %>"
                                                                    class="text-black">
                                                                    <%=cartItem.product.price * cartItem.quantity %>.00
                                                                </span>
                                                            </span>
                                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-outline-primary js-btn-minus"
                                                                        type="button"
                                                                        onclick="updateCartItem('<%= cartItem._id %>', 'decrement')">&minus;</button>
                                                                </div>
                                                                <input type="text" class="form-control text-center"
                                                                    value="<%= cartItem.quantity %>"
                                                                    id="quantityElement"
                                                                    aria-label="Example text with button addon"
                                                                    aria-describedby="button-addon1">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-primary js-btn-plus"
                                                                        type="button"
                                                                        onclick="updateCartItem('<%= cartItem._id %>', 'increment')">&plus;</button>
                                                                </div>
                                                            </div>
                                                            <form action="/remove-from-cart/<%= cartItem._id %>"
                                                                method="post" id="<%= cartItem._id %>">
                                                                <button type="button" class="btn btn-sm btn-primary"
                                                                    onclick="removeCartItem('<%= cartItem._id %>')">
                                                                    Remove
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                        </div>
                                </div>
                                </form>
                    </div>
                    <% } %>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <p>
                                            <a href="/shop" class="btn btn-outline-primary btn-sm btn-block">
                                                Continue Shopping
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text-black h4" for="coupon">Coupon</label>
                                        <p>Enter your coupon code if you have one.</p>
                                    </div>
                                    <div class="col-md-8 mb-3 mb-md-0">
                                        <input type="text" class="form-control py-3" id="coupon"
                                            placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-sm">Apply Coupon</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-5">
                                <div class="row justify-content-end">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-12 text-right border-bottom mb-5">
                                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-md-6">
                                                <span>Grand Total</span>
                                            </div>
                                            <div class="col-md-6 pl-0">
                                                <span class="text-black">
                                                    Total Price: $<span id="grandTotalPrice" class="text-black">
                                                        <%= grandTotal %>.00
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary btn-lg py-3 btn-block">
                                                    Proceed To Checkout
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>

        <script>
            // remove fromm cart
            function removeCartItem(cartItemId) {
                $.ajax({
                    url: '/remove-from-cart/' + cartItemId,
                    type: 'POST',
                    success: function (response) {
                        // Handle success, e.g., update the cart UI
                    },
                    error: function (xhr, status, error) {
                        // Handle errors
                    }
                });
            }

            // update cart
            function updateCartItem(cartItemId, incOrDec) {
                const data = {
                    type: incOrDec
                };
                $.ajax({
                    url: '/update-cart/' + cartItemId,
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (response) {
                        $('#totalPrice_' + cartItemId).text(response.totalPrice.toFixed(2));
                        $('#grandTotalPrice').text(response.grandTotal.toFixed(2));
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            }
        </script>

        <%- include('../partials/customer/footer') -%>