<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

  <body>

    <div class="site-wrap">
      <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
          <div class="container">
            <div class="row align-items-center">

              <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                <form action="" class="site-block-top-search">
                  <span class="icon icon-search2"></span>
                  <input type="text" class="form-control border-0" placeholder="Search">
                </form>
              </div>

              <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                <img src="/shoppers.svg" class="mr-2" alt="logo" height="50" width="130" />
              </div>

              <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                <div class="site-top-icons">
                  <ul>
                    <li><a href="/profile"><span class="icon icon-person"></span></a></li>
                    <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                    <li>
                      <a href="/cart" class="site-cart">
                        <span class="icon icon-shopping_cart"></span>
                      </a>
                    </li>
                    <li class="ml-3">
                      <% if (!isLoggedIn) { %>
                        <a href="login">Login</a>
                        <% } else { %>
                          <form action="/logout" method="post">
                            <button class="btn btn-light" type="submit">logout</button>
                          </form>
                          <% } %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="site-blocks-cover" style="background-image: url(/customer/images/hero_1.jpg);" data-aos="fade">
        <div class="container">
          <div class="row align-items-start align-items-md-center justify-content-end">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
              <h1 class="mb-2">Finding Your Perfect Shoes</h1>
              <div class="intro-text text-center text-md-left">
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam.
                  Integer accumsan tincidunt fringilla. </p>
                <p>
                  <a href="/shop" class="btn btn-sm btn-primary">Shop Now</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/customer/features') -%>

      <%- include('../partials/customer/category') -%>
      

      <%- include('../partials/customer/featuredProducts') -%>

      <div class="site-section block-8">
        <div class="container">
          <div class="row justify-content-center  mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2>Big Sale!</h2>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
              <a href="#"><img src="/customer/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
              <h2><a href="#">50% less in all items</a></h2>
              <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span>
                September
                3, 2018</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere
                corporis
                ipsum animi deleniti fugiat. Ex, veniam?</p>
              <p><a href="/shop" class="btn btn-primary btn-sm">Shop Now</a></p>
            </div>
          </div>
        </div>
      </div>

      <%- include('../partials/customer/footer') -%>