<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

<body>
  <div class="site-wrap">
    <%- include('../partials/customer/header') -%>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Orders</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <% if (!orders.length) { %>
        No orders found.
        <% } else { %>
        <% orders.forEach((order)=> { %>
        <div class="d-flex flex-column flex-md-row border p-3 mb-3">
          <div class="col-md-3 col-12 d-flex justify-content-center mb-5">
            <a href="/single/<%= order.orderedProducts[0]._id %>">
              <img src="<%= order.orderedProducts[0].images[0] %>" alt="Image" height="180px" width="180px" class="img-fluid">
            </a>
          </div>
          <div class="col-md-6">
            <span class="d-block text-primary h6 text-uppercase">
              <%= order.orderedProducts[0].name %>
            </span>
            <p>
              Price: ₹<%= order.orderedProducts[0].actualPrice.toFixed(2) %>,
              Quantity: <%= order.products.quantity %>,<br>
              Payment Method: <%= order.paymentMethod %><br>
              Delivery Address: <%= order.deliveryAddress.state %>,
              <%= order.deliveryAddress.city %>,
              <%= order.deliveryAddress.area %>,
              <%= order.deliveryAddress.pincode %>
            </p>
            <div class="d-flex">
              <div>
                <p class="text-black">
                  Order Confirmed, <%= order.orderDate.toLocaleDateString() %>
                </p>
                <p class="text-black">
                  Delivery, <%= order.deliveryDate.toLocaleDateString() %><br>
                  <% if (!order.products.isCancelled) { %>
                  <strong>Status: <%= order.status %></strong>
                  <% } %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <% if (order.products.isCancelled) { %>
            <p class="text-danger ml-3">
              Order Cancelled
            </p>
            <% } else if (order.products.isReturned) { %>
            <p class="text-muted ml-3">
              Returned
            </p>
            <% } else { %>
            <% if (order.status==='Processing' ) { %>
            <% order.orderedProducts.forEach((product) => { %>
            <p class="ml-3">
            <form action="/cancel-order" method="post" class="orders-form" id='<%= `cancelForm_${order._id}${product._id}` %>'>
              <input type="hidden" name="orderId" value="<%= order._id %>">
              <input type="hidden" name="productId" value="<%= order.orderedProducts[0]._id %>">
              <button type="button" class="btn btn-sm btn-outline-danger mb-3"
                onclick="openCancelOrderModal('<%= `cancelForm_${order._id}${product._id}` %>')">
                Cancel
              </button>
            </form>
            </p>
            <% }) %>
            <% } else if (order.status==='Delivered' ) { %>
            <% const currentDate=new Date(); %>
            <% const deliveryDate=new Date(order.deliveryDate); %>
            <% const sevenDaysAfterDelivery=new Date(deliveryDate); %>
            <% sevenDaysAfterDelivery.setDate(sevenDaysAfterDelivery.getDate() + 7); %>
            <% if (order.products.returnRequested==="Pending") { %>
            <p class="ml-4">Return Request:
              <span class="text-info">Pending</span>
            </p>
            <% } else if (order.products.returnRequested==="Rejected") { %>
            <p class="ml-4">Return
              Request: <span class="text-danger">Rejected</span>
            </p>
            <% } else if (order.products.returnRequested==="Approved") { %>
            <p class="ml-4">Return
              Request: <span class="text-success">Approved</span>
            </p>
            <% } else if (order.products.returnRequested==="Completed") { %>
            <span class="text-dark ml-4">Returned</span>
            </p>
            <% } else if (currentDate <= sevenDaysAfterDelivery) { %>
            <p class="ml-3">
              <a href="/return-product?order=<%= order._id %>&product=<%= order.orderedProducts[0]._id %>&category=<%= order.orderedProducts[0].category %>&quantity=<%= order.products.quantity %>" class="btn btn-sm btn-outline-primary mb-3">
                Return
              </a>
            </p>
            <% } %>
            <% } %>
            <% } %>
          </div>
        </div>
        <% }) %>
        <% } %>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <p><a href="/shop/1" class="btn btn-outline-primary btn-sm btn-block">Continue
                    Shopping
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cancel Order Modal -->
    <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancelOrderModalLabel">Confirm Cancel Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to cancel your order?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirmCancelOrder">
              Cancel Order
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Function to open the "Cancel Order" modal
      function openCancelOrderModal(formId) {
        // Set the form data dynamically based on the form ID
        const form = document.getElementById(formId);
        const productId = form.querySelector('input[name="productId"]').value;

        // Set the form data dynamically based on the product ID
        form.querySelector('input[name="productId"]').value = productId;

        // Open the modal
        $('#cancelOrderModal').modal('show');

        // Event listener for the "Cancel Order" button click inside the modal
        document.getElementById('confirmCancelOrder').addEventListener('click', function() {
          // You can perform any additional actions here before submitting the form
          form.submit();

          // After submitting the form, you can close the modal
          $('#cancelOrderModal').modal('hide');
        });
      }

      // Event handler for the "Cancel Order" button click
      const orderForms = document.getElementsByClassName('orders-form');
      for (let i = 0; i < orderForms.length; i++) {
        orderForms[i].addEventListener('submit', function(event) {
          event.preventDefault();
          // Handle the form submission for the specific product
          const productId = orderForms[i].querySelector('input[name="productId"]').value;
          // You can perform any additional actions here before opening the modal
          openCancelOrderModal(orderForms[i].id);
        });
      }
    </script>

    <%- include('../partials/customer/footer') -%>