<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

    <body>

        <div class="site-wrap">
            <%- include('../partials/customer/header') -%>
                <div class="bg-light py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                                    class="text-black">Profile</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Your Profile</h2>
                            </div>
                            <div class="col-md-6 mb-4">
                                <form action="/profile?_method=PATCH" method="post" enctype="multipart/form-data">
                                    <div class="p-3 p-lg-5 border">
                                        <div class="form-group" id="preview-group">
                                            <% if (currentUser.profile) { %>
                                                <img src="<%= currentUser.profile %>"
                                                style="border-radius: 10px;" height="100px" width="100px"
                                                id="preview-img" alt="profileImage">
                                            <% } else { %>
                                                <img src="<%= currentUser.profile %>" class="preview" id="preview-img"
                                                style="border-radius: 10px; display: none;" height="100px" width="100px"
                                                id="preview-img" alt="profileImage">     
                                            <% } %>
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-group">
                                                <label for="profileImage">Profile Image</label>
                                                <input type="file" name="profile" id="preview-input" accept="image/*">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="username" class="text-black">Username <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="username" name="username"
                                                    value="<%= currentUser.username %>">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="phone" class="text-black">Phone <span
                                                        class="text-danger">*</span></label>
                                                <input type="number" class="form-control" id="phone" name="phone"
                                                    value="<%= currentUser.phone %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="email" class="text-black">Email <span
                                                        class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    value="<%= currentUser.email %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <a href="/change-password">Change Password</a>
                                            </div>
                                        </div>
                                        <p class="text-danger">
                                            <%= error %>
                                        </p>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                                    Update Profile
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div>
                                            <a href="/orders" class="btn btn-outline-primary btn-lg btn-block">
                                                Orders
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 d-flex mt-3">
                                        <div class="col-md-6">
                                            <a href="/wallet" class="btn btn-outline-primary btn-lg btn-block">
                                                Wallet
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/Coupons" class="btn btn-outline-primary btn-lg btn-block">
                                                Coupons
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <% if (addresses.length) { %>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="address" class="text-black">
                                                    <%= addresses.length %> Saved Address
                                                </label>
                                                <% addresses.forEach((address)=> { %>
                                                    <div class="col-lg-12 p-4 border mb-3">
                                                        <span class="d-block text-primary h6 text-uppercase">
                                                            <%= address.state %>
                                                        </span>
                                                        <p class="mb-0">
                                                            <%= address.building %>,
                                                                <%= address.area %>,
                                                                    <%= address.city %>,
                                                                        <%= address.state %>,
                                                                            <%= address.pincode %>
                                                        </p>
                                                        <p class="mt-3">
                                                        <form action="/delete-address/<%= address._id %>" method="post">
                                                            <a href="/edit-address/<%= address._id %>"
                                                                class="btn btn-sm btn-outline-primary">Edit</a>
                                                            <button type="submit" href=""
                                                                class="btn btn-sm btn-primary">Delete</button>
                                                        </form>
                                                        </p>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% if (addresses.length < 3) { %>
                                                <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <a href="/new-address"
                                                            class="btn btn-outline-primary btn-lg btn-block">
                                                            Add New Address
                                                        </a>
                                                    </div>
                                                </div>
                                                <% } %>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <script>
                    const previewArea = document.getElementById('preview-group');
                    const previewInput = document.getElementById('preview-input');
                    const previewImg = document.getElementById('preview-img');

                    previewInput.onchange = e => {
                        if (e.target.files && e.target.files.length) {
                            previewImg.style.display = 'block';
                            const imgSrc = URL.createObjectURL(e.target.files[0]);
                            previewImg.src = imgSrc;
                            previewArea.style.display = 'block';
                        }
                    }
                </script>

                <%- include('../partials/customer/footer') -%>