<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pay with Razorpay</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="<%= key_id %>"></script>
</head>

<body>
  <h5 id="heading" style="display: block;">Payment processing...</h5>
  <p id="error" style="color: red;"></p>
  <a id="link" href="/checkout" style="display: none;">Go back to checkout</a>
  <script>
    const headingElement = document.getElementById("heading");
    const errorElement = document.getElementById("error");
    const linkElement = document.getElementById("link");

    // Initialize Razorpay checkout
    var options = {
      key: "<%= key_id %>",
      amount: "<%= order.amount %>", // Amount in paise
      currency: "INR",
      name: "Shoppers",
      description: "Order Payment",
      order_id: "<%= order.id %>", // Order ID from the server
      handler: function(response) {
        if (response.razorpay_payment_id) {
          const transactionId = response.razorpay_payment_id;
          const orderId = response.razorpay_order_id;
          const signature = response.razorpay_signature;
          // Handle successful payment
          // Send an AJAX POST request to save the order
          $.ajax({
            type: 'POST',
            url: '/save-rzporder',
            contentType: 'application/json',
            data: JSON.stringify({
              transactionId,
              orderId,
              amount: "<%= order.amount %>",
              signature
            }),
            success: function(data) {
              window.location.href = "/orders";
            },
            error: function(xhr, textStatus, errorThrown) {
              // Handle errors or unsuccessful order saving
              headingElement.style.display = 'none';
              errorElement.textContent = "Order save failed";
              linkElement.style.display = 'block';
            }
          });
        } else {
          // Display a message or handle it appropriately
          headingElement.style.display = 'none';
          errorElement.textContent = "Payment was canceled or unsuccessful";
          linkElement.style.display = 'block';
        }
      },
      prefill: {
        name: "<%= user.name %>",
        email: "<%= user.email %>",
        contact: "<%= user.mobile %>"
      },
      theme: {
        color: "#4B49AC"
      }
    };

    var rzp = new Razorpay(options);
    rzp.open();
  </script>
</body>

</html>