<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay with Razorpay</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="<%= key_id %>"></script>
</head>

<body>
    <h5>Payment processing...</h5>
    <script>
        // Initialize Razorpay checkout
        var options = {
            key: "<%= key_id %>",
            amount: "<%= order.amount %>", // Amount in paise
            currency: "INR",
            name: "Shoppers",
            description: "Order Payment",
            order_id: "<%= order.id %>", // Order ID from the server
            handler: function (response) {
                console.log(response);
                if (response.razorpay_payment_id) {
                    // Clear the cart only when the payment is confirmed
                    window.location.href = "/orders";
                } else {
                    // Payment was canceled or unsuccessful
                    // Display a message or handle it appropriately
                    console.log('Payment was canceled or unsuccessful');
                }
            },
            prefill: {
                name: "<%= user.name %>",
                email: "<%= user.email %>",
                contact: "<%= user.mobile %>"
            },
            theme: {
                color: "#4B49AC"
            }
        };

        var rzp = new Razorpay(options);
        rzp.open();
    </script>
</body>

</html>