<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

<%
  const productsWithSizeSmall=productDatas.filter(product=> product.size === "Small");
  const productsWithSizeMedium = productDatas.filter(product => product.size === "Medium");
  const productsWithSizeLarge = productDatas.filter(product => product.size === "Large");

  const productsWithColorPink = productDatas.filter(product => product.color === "Pink");
  const productsWithColorBlack = productDatas.filter(product => product.color === "Black");
  const productsWithColorBlue = productDatas.filter(product => product.color === "Blue");
%>

<body>

  <div class="site-wrap">
    <%- include('../partials/customer/header') -%>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">
              Shop
            </strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-9 order-2">
            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4">
                  <h2 class="text-black h5">
                    <%= category.name %>
                  </h2>
                </div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Latest
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a class="dropdown-item" href="#">Men</a>
                      <a class="dropdown-item" href="#">Women</a>
                      <a class="dropdown-item" href="#">Kids</a>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <a class="dropdown-item" href="#">Relevance</a>
                      <a class="dropdown-item" href="#">Name, A to Z</a>
                      <a class="dropdown-item" href="#">Name, Z to A</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Price, low to high</a>
                      <a class="dropdown-item" href="#">Price, high to low</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5" id="product-list-container">
              <% if (!productDatas.length) { %>
              No products found.
              <% } else { %>
              <% productDatas.forEach((product, index)=> { %>
              <% if (product.category.removed===false) { %>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/single/<%= product._id %>"><img src="<%= product.images[0] %>" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3>
                      <a href="/single/<%= product._id %>">
                        <%= product.name %>
                      </a>
                    </h3>
                    <p class="mb-0">
                      <%= product.description.substring(0, 50) + '...' %>
                    </p>
                    <% if (isLoggedIn) { %>
                    <form action="/wishlist" method="post" id="wishlistForm_<%= product._id %>">
                      <p class="text-primary font-weight-bold">
                        Size: <%= product.size %>,
                        ₹<%= product.price.toFixed(2) %>
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <% if (currentUser.wishlist.some((item)=> item.toString() === product._id.toString() )) { %>
                        <a href="#" class="ml-2 updateWishlist" data-product-id="<%= product._id %>">
                          <span class="icon icon-heart">
                          </span>
                        </a>
                        <% } else { %>
                        <a href="#" class="ml-2 updateWishlist" data-product-id="<%= product._id %>">
                          <span class="icon icon-heart-o">
                          </span>
                        </a>
                        <% } %>
                      </p>
                      <% if (!product.stock) { %>
                      <p class="text-danger">
                        Currently Unavailable
                      </p>
                      <% } else { %>
                      <p class="text-primary font-weight-bold">
                        Stock: <%= product.stock %>
                      </p>
                      <% } %>
                    </form>
                    <% } else { %>
                    <p class="text-primary font-weight-bold">
                      Size: <%= product.size %>,
                      ₹<%= product.price.toFixed(2) %><br>

                    </p>
                    <% if (!product.stock) { %>
                    <p class="text-danger">
                      Currently Unavailable
                    </p>
                    <% } else { %>
                    <p class="text-primary font-weight-bold">
                      Stock: <%= product.stock %>
                    </p>
                    <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
              <% } %>
              <% }) %>
              <% } %>
            </div>

            <!-- pagination -->
            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <% if (!categoryBased) { %>
                  <ul>
                    <% if (currentPage> 1) { %>
                    <li><a href="/shop/<%= currentPage - 1 %>">&lt;</a>
                    </li>
                    <% } %>
                    <% for (let i=1; i <= totalPages; i++) { %>
                    <li <% if (i === currentPage) { %>class="active" <% } %>>
                      <a href="/shop/<%= i %>">
                        <%= i %>
                      </a>
                    </li>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                    <li>
                      <a href="/shop/<%= currentPage + 1 %>">&gt;</a>
                    </li>
                    <% } %>
                  </ul>
                  <% } %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">
                <% if (!categoryDatas.length) { %>
                No categories found.
                <% } else { %>
                <% categoryDatas.forEach((category)=> { %>
                <li class="mb-1"><a href="/shop/<%= category._id %>/1" class="d-flex"><span>
                      <%= category.name %>
                    </span>
                    <span class="text-black ml-auto">
                      (<%= category.productsCount %>)
                    </span>
                  </a>
                </li>
                <% }) %>
                <% } %>
              </ul>
            </div>
            <form action="/filter-products" method="post">
              <div class="border p-4 rounded mb-4">
                <div class="mb-4">
                  <input type="text" placeholder="Enter name or category" name="search" class="form-control">
                </div>
                <div class="mb-4">
                  <select id="min-price" name="filterPrice" class="form-control">
                    <option value="">Filter by price</option>
                    <option value="299">Rs. 299 and below</option>
                    <option value="300">Rs. 300 - Rs. 499</option>
                    <option value="500">Rs. 500 - Rs. 699</option>
                    <option value="700">Rs. 700 - Rs. 899</option>
                    <option value="900">Rs. 900 and above</option>
                  </select>
                </div>

                <div class="mb-4">
                  <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                  <label for="Small" class="d-flex">
                    <input type="checkbox" id="Small" name="size1" value="Small" class="mr-2 mt-1"> <span class="text-black">Small
                      (<%= productsWithSizeSmall.length %>)</span>
                  </label>
                  <label for="Medium" class="d-flex">
                    <input type="checkbox" id="Medium" name="size2" value="Medium" class="mr-2 mt-1"> <span class="text-black">Medium
                      (<%= productsWithSizeMedium.length %>)</span>
                  </label>
                  <label for="Large" class="d-flex">
                    <input type="checkbox" id="Large" name="size3" value="Large" class="mr-2 mt-1"> <span class="text-black">Large
                      (<%= productsWithSizeLarge.length %>)</span>
                  </label>
                </div>

                <div class="mb-4">
                  <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                  <a class="d-flex color-item align-items-center">
                    <input type="checkbox" name="color1" value="Pink" class="mr-2 mt-1">
                    <span class="bg-danger color d-inline-block rounded-circle mr-2"></span>
                    <span class="text-black">
                      Pink (<%= productsWithColorPink.length %>)</span>
                  </a>
                  <a class="d-flex color-item align-items-center">
                    <input type="checkbox" name="color2" value="Black" class="mr-2 mt-1">
                    <span class="bg-dark color d-inline-block rounded-circle mr-2"></span>
                    <span class="text-black">
                      Black (<%= productsWithColorBlack.length %>)</span>
                  </a>
                  <a class="d-flex color-item align-items-center">
                    <input type="checkbox" name="color3" value="Red" class="mr-2 mt-1">
                    <span class="bg-info color d-inline-block rounded-circle mr-2"></span>
                    <span class="text-black">
                      Blue (<%= productsWithColorBlue.length %>)
                    </span>
                  </a>
                </div>
                <a href="/shop/1" class="btn btn-outline-primary">Clear</a>
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
          </div>
        </div>
      </div>
      <%- include('../partials/customer/category') -%>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      $('.updateWishlist').on('click', function(event) {
        event.preventDefault();

        const productId = $(this).data('product-id');
        const element1 = event.target;
        let todo;
        if (element1.classList.contains('icon-heart-o')) {
          todo = "add";
        } else {
          todo = "remove";
        }

        $.ajax({
          url: '/update-wishlist',
          type: 'POST',
          data: {
            productId,
            todo
          },
          success: function(response) {
            $('#wishlistCount').text(response.wishlistCount);
            const element = event.target;
            if (response.message === "added") {
              if (element.classList.contains('icon-heart-o')) {
                element.classList.remove('icon-heart-o');
                element.classList.add('icon-heart');
              } else {
                element.classList.remove('icon-heart');
                element.classList.add('icon-heart-o');
              }
            } else {
              if (element.classList.contains('icon-heart')) {
                element.classList.remove('icon-heart');
                element.classList.add('icon-heart-o');
              } else {
                element.classList.remove('icon-heart-o');
                element.classList.add('icon-heart');
              }
            }
          },
          error: function(err) {
            console.error('Error:', err);
          }
        });
      });

    });
  </script>

  <%- include('../partials/customer/footer') -%>