<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <img src="/shoppers.svg" class="mr-2" alt="logo" height="50" width="130" />
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li><a href="/profile"><span class="icon icon-person"></span></a></li>
                                    <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                                    <li>
                                        <a href="/cart" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li class="active"><a href="/shop">Shop</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black"><%= productData.name %></strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="d-flex mb-5">
                        <% productData.images.forEach((image) => { %>
                            <div class="col-md-4">
                                <img src="<%= image %>" alt="Image" class="img-fluid">
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-black"><%= productData.name %></h2>
                        <p><%= productData.description %></p>
                        <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem
                            perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis
                            reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
                        <p><strong class="text-primary h4">$<%= productData.price %>.00</strong></p>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex mb-5">
                            <label for="option-sm" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-sm" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black">Small
                                </span>
                            </label>
                            <label for="option-md" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-md" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black">Medium
                                </span>
                            </label>
                            <label for="option-lg" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-lg" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black">Large
                                </span>
                            </label>
                            <label for="option-xl" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-xl" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black"> Extra Large
                                </span>
                            </label>
                        </div>
                        <div class="d-flex mb-5 col-md-4">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                            </div>
                            <input type="text" class="form-control text-center" value="1" placeholder=""
                                aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>
                        <div>
                            <div class="input-group" style="max-width: 120px;">
                                <div>
                                    <p><a href="/cart" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="d-flex mb-5">
                        <% productData.images.forEach((image) => { %>
                            <div class="col-md-4">
                                <img src="<%= image %>" alt="Image" class="img-fluid">
                            </div>
                        <% }) %>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-black"><%= productData.name %></h2>
                        <p><%= productData.description %></p>
                        <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem
                            perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis
                            reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
                        <p><strong class="text-primary h4">$<%= productData.price %>.00</strong></p>
                    </div>  
                    <div class="mb-1 d-flex">
                        <div>
                            <label for="option-sm" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-sm" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black">Small
                                </span>
                            </label>
                            <label for="option-md" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-md" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black">Medium
                                </span>
                            </label>
                            <label for="option-lg" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-lg" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black">Large
                                </span>
                            </label>
                            <label for="option-xl" class="d-flex mr-3 mb-3">
                                <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input
                                        type="radio" id="option-xl" name="shop-sizes"></span> <span
                                    class="d-inline-block text-black"> Extra Large
                                </span>
                            </label>
                        </div>
                        <div>
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                            </div>
                            <input type="text" class="form-control text-center" value="1" placeholder=""
                                aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>
                        <div class="input-group mb-3" style="max-width: 120px;">
                            <div>
                                <p><a href="/cart" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div> 

    <%- include('../partials/customer/footer') -%>