<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

    <body>
        <div class="site-wrap">
            <%- include('../partials/customer/header') -%>
                <div class="bg-light py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                                    class="text-black">Wallet</strong></div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-group">
                        <div class="p-3 border m-3">
                            <span class="d-block text-primary h3 text-uppercase">
                                My Wallet
                            </span>
                            <p class="mb-0 text-black">
                                ₹<%= currentUser.wallet.balance.toFixed(2) %>
                            </p>
                            <span class="d-block text-primary h6 mt-4 text-uppercase">Transaction History</span>
                            <table class="table table-striped text-black">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Transaction ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (!currentUser.wallet.transactions.length) { %>
                                        <tr>
                                            <td colspan="5">
                                                No data found.
                                            </td>
                                        </tr>
                                        <% } else { %>
                                            <% currentUser.wallet.transactions.forEach((transaction) => { %>
                                                <tr>
                                                    <td>
                                                        <%= transaction.timestamp.toLocaleDateString() %>
                                                    </td>
                                                    <td>
                                                        ₹<%= transaction.amount %>
                                                    </td>
                                                    <td>
                                                        <%= transaction.description %>
                                                    </td>
                                                    <td>
                                                        <%= transaction.type %>
                                                    </td>
                                                    <td>
                                                        <%= transaction.transactionId %>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <%- include('../partials/customer/footer') -%>