<div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Featured Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="nonloop-block-3 owl-carousel">
          <% if (!productDatas.length) { %>
          No products found.
          <% } else { %>
          <% productDatas.forEach((product)=> { %>
          <% if (product.category.removed===false) { %>
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <img src="/uploads<%= product.images[0] %>" alt="Image placeholder" class="img-fluid">
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="/shop/products/single/<%= product._id %>">
                    <%= product.name %>
                  </a></h3>
                <p class="mb-0">
                  <%= product.description.substring(0, 50) + '...' %>
                </p>
                <!-- Price -->
                <% if (!product.productOfferPrice && !product.categoryOfferPrice) { %>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="text-primary font-weight-bold">₹<%= product.actualPrice?.toFixed(2) %></p>
                </div>
                <% } else { %>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="text-decoration-line-through shop-actual-price mr-1"><%= product.actualPrice?.toFixed(2) %></p>
                  <% if (product.productOfferPrice && product.categoryOfferPrice) { %>
                  <p class="text-primary font-weight-bold">₹<%= Math.min(product.productOfferPrice, product.categoryOfferPrice)?.toFixed(2) %></p>
                  <% } else if (product.productOfferPrice) { %>
                  <p class="text-primary font-weight-bold">₹<%= product.productOfferPrice?.toFixed(2) %></p>
                  <% } else if (product.categoryOfferPrice) { %>
                  <p class="text-primary font-weight-bold">₹<%= product.categoryOfferPrice?.toFixed(2) %></p>
                  <% } %>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <% } %>
          <% }) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
