<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/admin/head') -%>

<body>
  <div class="container-scroller">
    <%- include('../../partials/admin/header') -%>
    <div class="main-panel">
      <div class="content-wrapper my-custom-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add new product</h4>

                <form class="forms-sample" action="/admin/new-product" method="post" enctype="multipart/form-data">
                  <p class="text-danger mb-3">
                    <%= error %>
                  </p>
                  <div class="d-flex justify-content-between">
                    <div class="form-group col-md-6">
                      <label for="name">Product</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="cat">Category</label>
                      <select name="category" id="category" class="form-control" required>
                        <% categoryOptions.forEach(category=> { %>
                        <option value="<%= category._id %>">
                          <%= category.name %>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label for="exampleInputName1">Description</label>
                    <input type="text" class="form-control" name="description" id="exampleInputName1" placeholder="description" required>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="form-group col-md-6">
                      <label for="exampleInputName1">Product Price</label>
                      <input type="number" class="form-control" name="price" id="exampleInputName1" placeholder="₹00.00" required>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="exampleInputName1">Stock</label>
                      <input type="number" class="form-control" name="stock" id="exampleInputName1" placeholder="stock" required>
                    </div>
                  </div>

                  <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="form-group col-md-6">
                      <label for="exampleInputName1">Offer Percentage</label>
                      <input type="number" class="form-control" name="offerPercentage" id="exampleInputName1" placeholder="Offer Percentage">
                    </div>

                    <div class="form-group col-md-6">
                      <label for="exampleInputName1">Offer Valid Upto</label>
                      <input type="date" class="form-control" name="offerValidUpto" id="exampleInputName1" placeholder="Offer Valid Upto">
                    </div>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="form-group col-md-6">
                      <label for="exampleInputName1">Size</label>
                      <select name="size" id="size" class="form-control" required>
                        <option value="Small">
                          Small
                        </option>
                        <option value="Medium">
                          Medium
                        </option>
                        <option value="Large">
                          Large
                        </option>
                      </select>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="exampleInputName1">Color</label>
                      <input type="text" class="form-control" name="color" id="exampleInputName1" placeholder="color" required>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label>Images</label>
                    <div class="input-group col-xs-12">
                      <input type="file" accept="image/*" multiple name="images" class="form-control file-upload-info previewInput" placeholder="Upload Image" id="preview-input" required />
                    </div>
                  </div>

                  <div class="form-group" id="preview-group" style="display: none;">
                    <div class="card">
                      <div class="card-header">
                        Preview Images
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-4">
                            <div class="img-preview-p">
                              <img src="" alt="" class="preview" id="preview-img" data-img-index="1" style="max-width: 100%; object-fit: cover; display: block;" />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="img-preview-p">
                              <img src="" alt="" class="preview" data-img-index="2" style="max-width: 100%; object-fit: cover; display: block;" />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="img-preview-p">
                              <img src="" alt="" class="preview" id="preview-img" data-img-index="3" style="max-width: 100%; object-fit: cover; display: block;" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mr-2">Create</button>
                  <a href="#" class="btn btn-outline-primary btn-light" id="cancel-button">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <script>
    function hideErrorMessage() {
      var errorMessageElement = document.getElementById('error-message');
      if (errorMessageElement) {
        setTimeout(() => {
          errorMessageElement.style.display = 'none';
        }, 4000);

      }
    }
    hideErrorMessage();

    const previewInput = document.querySelector('.previewInput')
    const previewArea = document.getElementById('preview-group')

    previewInput.addEventListener('change', function(e) {
      const previewImages = document.querySelectorAll('.preview');
      if (e.target.files.length) {
        if (e.target.files.length > 3) {
          e.target.value = ''; // Reset the file input
          previewImages.forEach(image => image.src = ''); // Clear preview images
          alert("You can only select up to 3 images.");
        } else {
          for (let i = 0; i < e.target.files.length; i++) {
            previewImages[i].src = URL.createObjectURL(e.target.files[i])
          }
          previewArea.style.display = 'block'
        }
      }
    })
  </script>

  <%- include('../../partials/admin/footer') -%>